.fitted {
    display: flex;
    overflow: hidden;
    margin-top: -25rem;
    margin-bottom: -25rem;
    background-image: url(./images/line2.png);
    padding: 35rem;
    cursor: default;
}

@media (min-width: 550px) {
    .fitted {
        max-height: 100px;
        max-width: 50px;
        object-fit: fill;
        overflow: hidden;
    } 
}